@model UniversityWebClient.Models.CreateEducation
@{
    ViewData["Title"] = "Изменить обучение";
}

<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <p>Мой год обучения: @ViewBag.User.CourseNum</p>
    <table class="table">
        <tr>
            <td>Название Курса</td>
            <td align="center">ФИО Преподавателя</td>
            <td align="center">Дата начала курса</td>
            <td align="center">Цена</td>
        </tr>
        @foreach (UniversityBusinessLogic.ViewModels.CourseViewModel course in ViewBag.EducationCourses)
        {
            <tr>
                <td>@course.CourseName</td>
                <td align="center">@course.LecturerFIO</td>
                <td align="center">@course.StartCourse.ToShortDateString()</td>
                <td align="center">@course.Cost</td>
                @{
                    string check = "";
                    EducationViewModel find = ViewBag.educations[ViewBag.educations.Count - 1];
                   if(find.EducationCourses.Find( x => x.CourseName == course.CourseName)!=null)
check = "checked";
}
                <td><input type="checkbox" name="Model.EducationCourses[@course.Id]" value="true" checked="@check"/></td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-info btn-sm">Создать</button>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
