@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ReportModel
@{
    ViewData["Title"] = "Обучения";

}

<div class="text-center text-info">
    <h1>Обучения</h1>
</div>
<hr />
<p>
    <strong>
        <a class="btn btn-info btn-sm" asp-area="" asp-controller="education" asp-action="CreateEducation">Сформировать</a>
        @if (ViewBag.educations.Count != 0)
        {
            <a class="btn btn-info btn-sm" asp-area="" asp-controller="education" asp-action="ChangeEducation">Изменить</a>
            <a class="btn btn-info btn-sm" asp-area="" asp-controller="education" asp-action="DelEducation">Удалить</a>
        }
    </strong>
</p>
<hr />
@using (Html.BeginForm())
{
    <p>
        Выберите даты для отображения отчета по обучениям и оплатам
    </p>
    <p>
        От: @Html.EditorFor(model => model.EdFrom)
    </p>
    <p>
        До: @Html.EditorFor(model => model.EdTo)
    </p>
    <p>
        @Html.EditorFor(model => model.SendMail) Отправить отчёт по путешествиям и оплатам на почту
    </p>
    <p>
        <button type="submit" class="btn btn-info btn-sm">Получить</button>
    </p>
}
<hr />
@foreach (var education in ViewBag.educations)
{
    <p><strong>Год обучения: @education.YearEd </strong></p>
    <p>Дата последнего обновления: @education.EdCreate</p>
    <p>Цена текущего обучения: @education.EdCost ₽</p>
    <p>Статус оплаты: @education.Status</p>
    <p>План обучения:</p>
    <table class="table">
        <tr>
            <td>Курс</td>
            <td>ФИО Преподавателя</td>
            <td>Дата начала курса</td>
            <td>Цена</td>
        </tr>
        @foreach (var course in education.EducationCourses)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.LecturerFIO</td>
                <td>@course.StartCourse</td>
                <td>@course.Cost</td>
            </tr>
        }
    </table>
    if (education.Status != UniversityBusinessLogic.Enums.PayStatus.Принят && ViewBag.Pays != null)
    {
        <p>Платежи:</p>
        <table class="table">
            <tr>
                <td>Дата</td>
                <td>Сумма</td>
            </tr>
            @foreach (var pay in ViewBag.Pays)
            {
                if (pay.EdicationId == education.Id)
                {
                    <tr>
                        <td>@pay.PayDate</td>
                        <td>@pay.PaySum</td>
                    </tr>
                }
            }
        </table>
    }
    <hr />
    if (education.Status == UniversityBusinessLogic.Enums.PayStatus.Оплачен)
    {
        <p>Полностью оплачено</p>
        <hr />
    }
    else
    {
        if (education.Status == UniversityBusinessLogic.Enums.PayStatus.Частично_Оплачен)
        {
            <p>К оплате: @education.Remain</p>
            <hr />

        }
        <p>
            <a href="/Education/Pay/@education.Id">Оплатить</a>
        </p>
    }
    <p>
        <a href="/Education/SendWordReport/@education.Id">Отправить список курсов в формате .docx</a>
    </p>
    <p>
        <a href="/Education/SendExcelReport/@education.Id">Отправить список курсов в формате .xslx</a>
    </p>
    <hr />

}