@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ReportModel
@{
    ViewData["Title"] = "Обучения";

}

<div class="text-center text-info">
    <h1>Обучения</h1>
</div>
<hr />

@using (Html.BeginForm())
{
    <p>
        Выберите год обучения для отображения отчета по обучениям и оплатам
    </p>
    <p>
        От: @Html.EditorFor(model => model.EdFrom)
    </p>
    <p>
        До: @Html.EditorFor(model => model.EdTo)
    </p>
    <p>
        @Html.EditorFor(model => model.SendMail) Отправить отчёт по путешествиям и оплатам на почту
    </p>
    <p>
        <button type="submit" class="btn btn-info btn-sm">Получить</button>
    </p>
}
<hr />
@foreach (var education in ViewBag.educations)
{
    <p><strong>Год обучения: @education.YearED </strong></p>
    <p>Дата последнего обновления: @education.DateCreate</p>
    <p>Цена текущего обучения: @education.CostED ₽</p>
    <p>Статус оплаты: @education.PayStatus</p>
    <p>План обучения:</p>
    <table class="table">
        <tr>
            <td>Курс</td>
            <td>ФИО Преподавателя</td>
            <td>Дата начала курса</td>
            <td>Цена</td>
        </tr>
        @foreach (var course in education.EducationCourses)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Lecturer</td>
                <td>@course.DateStart</td>
                <td>@course.Cost</td>
            </tr>
        }
    </table>
    if (education.PayStatus != UniversityBusinessLogic.Enums.PayStatus.Принят && ViewBag.Pays != null)
    {
        <p>Платежи:</p>
        <table class="table">
            <tr>
                <td>Дата</td>
                <td>Сумма</td>
            </tr>
            @foreach (var pay in ViewBag.Pays)
            {
                if (pay.EducationID == education.ID)
                {
                    <tr>
                        <td>@pay.DatePay</td>
                        <td>@pay.SumPay</td>
                    </tr>
                }
            }
        </table>
    }
    <hr />
    if (education.PayStatus == UniversityBusinessLogic.Enums.PayStatus.Оплачен)
    {
        <p>Полностью оплачено</p>
        <hr />
    }
    else
    {
        if (education.PayStatus == UniversityBusinessLogic.Enums.PayStatus.Частично_Оплачен)
        {
            <p>К оплате: @education.Remain</p>
            <hr />

        }
        <p>
            <a href="/Education/Pay/@education.ID">Оплатить</a>
        </p>
    }
    <p>
        <a href="/Education/SendWordReport/@education.ID">Отправить список курсов в формате .docx</a>
    </p>
    <p>
        <a href="/Education/SendExcelReport/@education.ID">Отправить список курсов в формате .xslx</a>
    </p>
    <hr />
}